<div class="container-fluid">
  <div class="row" style="padding: 0rem 3rem; height: 80vh;">
    <div class="col-md-12 col-lg-4 d-flex flex-column" style="align-items: flex-start;">
      <p class="zolo-big">Take a<br>Challenge</p>
      <p class="zolo-small">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
      <button mat-raised-button color="primary" (click)="openDialog()">Get Started</button>
    </div>
    <div class="col-md-12 col-lg-8 d-flex" style="align-items: flex-start; justify-content: center;">
      <img src="../../assets/img/home-banner.svg" width="100%" height="80%">
    </div>
  </div>
</div>
