<div class="container-fluid">
  <div class="row" style="padding: 0rem 3rem; height: 80vh;">
    <div class="col-md-12 col-lg-8 d-flex" style="align-items: flex-start; justify-content: center;">
      <img src="../../assets/img/quiz-banner.svg" width="100%" height="80%">
    </div>
    <div class="col-md-12 col-lg-4 d-flex flex-column" style="align-items: flex-start;">
      <p class="zolo-big">May the Force<br>Be with you</p>
      <p class="zolo-small">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
        industries for previewing layouts and visual mockups.</p>
      <p class="zolo-bold">Instructions :</p>
      <ul class="zolo-ul">
        <li>This test has <span class="zolo-highlight">3 Questions</span> in total</li>
        <li>Every question will have 4 choices out of which <br><span class="zolo-highlight">only 1 is correct</span></li>
        <li>You will have a maximum of <span class="zolo-highlight">03:00 Minutes</span> to complete this test once you press Start.</li>
      </ul>
      <button mat-raised-button color="primary" (click)="startQuiz()">Start Quiz</button>
      <br>
    </div>
  </div>
</div>